.nav-top{
    font-family: SupercellText-Medium,Helvetica,Arial,sans-serif;
    display: flex;
    overflow: hidden;
    position: fixed;
    background-color:#000;
    width: 60%;
    margin-left: 20%;
}
.header-nav{
    width: 130px;
    background-color: #000;
    padding-left: 10px;
}
.header-top-details{
    width: 70%;
    background-color: #000;
}
.top-logo{
    padding-top: 10px;
    height: 20px;
    width: 30px;
}
.top-details{  
    padding-top: 40px;
    padding-right: 200px;
    text-align:start;
    display: flex;
    justify-content: space-around;
    list-style: none; 
    font-size: medium;
    font-weight: 600;
    color: #4b4848;
}
.nav-right-icon{
    display: flex;
    padding-right: 10px;
    width: 15%;
    background-color: #000;
}
.right-icon{
    padding-top: 40px;
    width: 20px;
    height: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;  
}
.nav-search-main{
    padding-left: 10px;
    border-left:2px solid #4b4848;
    padding-top: 35px;

}


.footer{
    background-color: #000000;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 50px 0 180px;
    font-family: SupercellText-Medium,Helvetica,Arial,sans-serif;
    font-size: 13px;
}
.footer-content{
    margin-left: 12%;
    height: 250px;
    width:1024px;
    background-color: #000;
}
.content-menu{
    display: flex;
}
.social-media{
width: 600px;
height: 85px;
background-color: #000;
}
.followus{
    background-color: #000;
    color:#ffffff
}
.medialist{
    width: 20px;
    height: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.mediacontent{
    display: flex;
    flex-direction: row;
    height: 85px;
    width: 500px;
    background-color: #000;
}
.storelist{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 75px;
}

.nav-menu{
    border-top:2px solid #4b4848;
    padding-top: 5px;
    padding-bottom: 25px
}
.user-menu{
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 13px;
}
.footerend{
    display: flex;
    align-items: end;
}
.class-adress{
    font-style: normal;
    flex-grow: 1;
    padding-right: 55px;
    width: 20px;
    height: 20px;
}